.body {
    height: 100vh;
    display: grid;
    justify-content: center;
}

.item {
    display: grid;
    justify-items: center;
}

.logo {
    margin-top: 100px;
}

.input {
    margin-top: 20px;
}

.button {
    margin-top: 20px;
}

button {
    background-color: #4285f3;
    border-color: #1a5fd0;
}

button:hover {
    background-color: #5998ff;
}

input {
    width: 400px;
    border-color: #c4c4c4;
}

input,
select,
textarea {
    color: #5b5b5b;
}